.modal-container {
  position:absolute;
  top:0;
  left:0;
  width: 100vw;
  min-height: 100vh;
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: rgba(79,79,79,0.7);
  z-index: 1;
  visibility: hidden;
}

.modal-content {
  position: relative;
  width: 450px;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;

}

.modal-content h2 {
  font-size: 25px;
  font-weight: 500;
}

.close-modal {
  position: absolute;
  top: -10px; right: 10px;
  border-radius: 15%;
  border: none;
  margin-top: 20px;
  padding:2px;
  background: rgb(197, 195, 195);
}
.close-modal:hover {
  background: hsl(0, 2%, 70%);
}